name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy `docs/` to GitHub Pages (gh-pages branch)
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs    # The folder the action should deploy.
          clean: true
          token: ${{ secrets.GITHUB_TOKEN }}
